/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2.3.2015, 13:36:33
    Author     : Míra
*/

body {
    margin: 0px;
    font-family: Verdana;
    color: black;
}

#header {
    width: 100%;
    height: 80px;
    background: url('#{resource['img/header_bottom_line.png']}') repeat-x;
    background-position: bottom;
    
}

#logo {
    float: left;
    width: 250px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

#menu {
    float: right;
    width: 250px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

#content {
    width: 100%;
    min-height: 300px;
}

#footer {
    width: 100%;
    height: 60px;
}